@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
  z-index: 1000;
}

.modal {
  position: fixed !important;
  z-index: 9999 !important;
  background-color: rgba(36, 37, 41, 0.7) !important;
}

[data-tid="busy"] {
  background-color: rgba(36, 37, 41, 0.7) !important;
  z-index: 99999 !important;
}

.modal .content {
  left: 0 !important;
  right: 0 !important;
  background-color: #213740 !important;
  border-radius: 8px;
  border: 1px solid #89c2d9 !important;
  color: white !important;
}

.modal .container {
  border-radius: 0px !important;
}

:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

:global(html),
:global(body) {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}

:global(body) {
  font-family: "Mono Sans Expanded", sans-serif !important;
  color: white !important;
  position: relative;
}

.exLight {
  font-family: "Mono Sans Expanded Extra Light" !important;
}

.semi-bold {
  font-family: "Mono Sans Expanded Semi" !important;
}

.thin-border {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

.header-text {
  @apply text-sm xs:text-base lg:text-xxs;
}

@media (max-width: 1023px) {
  :global(body) {
    background: #272727;
    height: auto;
    min-height: 100%;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  width: 100%;
  max-width: 100vw;
}
.status {
  @apply inline-block px-3 py-1 text-xs font-semibold bg-white rounded-full shadow-md text-WaterwayGray;
}

.left-side {
  width: 50%;
  background-color: #272727;
}

.right-side {
  width: 50%;
  background-color: var(--selectedProject-bg-color, #2ce3a6);
}

.preview-image-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  @apply px-4 py-2 text-white rounded-md bg-WaterwayTeal hover:bg-WaterwayGreen hover:text-white;
}

.horizontal-divider {
  @apply mx-auto border-t-2 border-[#4E4E4E] w-full lg:my-12 lg:w-[1375px] my-4;
}

.vertical-divider {
  min-width: 2px;
  @apply self-stretch flex-shrink-0 w-px bg-white;
}

.badge-design {
  @apply bg-WaterwayLightBlue text-WaterwayBrown;
}
.badge-development {
  @apply text-white bg-WaterwayBlue;
}
.badge-live {
  @apply text-white bg-WaterwayBlue;
}
.badge-decentralised {
  @apply text-white bg-WaterwayGreen;
}
.form-label {
  @apply block mb-2 text-sm font-medium text-gray-300;
}
.form-input,
.form-textarea {
  @apply w-[90%] p-3 text-gray-900 transition bg-gray-100 rounded-md font-inter 
         focus:ring-2 focus:ring-blue-500 focus:outline-none 
         lg:w-full lg:max-w-md;
}
.ellipse-1 {
  @apply absolute w-[256px] h-[256px] bg-[rgba(79,168,246,0.2)] blur-[240px] top-[10%] left-[25%];
}
.ellipse-2 {
  @apply absolute w-[240px] h-[240px] bg-[rgba(244,223,253,0.2)] blur-[320px] bottom-[20%] right-[30%];
}
.mobile-menu {
  @apply fixed inset-0 z-50 flex flex-col transition-opacity duration-300 bg-WaterwayGray;
}
.mobile-menu-header {
  @apply flex items-center justify-between h-16 px-4;
}
.mobile-menu-links {
  @apply flex flex-col items-start px-4 pt-6;
}
.mobile-menu-item {
  @apply flex items-center justify-between w-full py-8 text-2xl;
}
