@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/poppins-regular-webfont.woff2") format("woff2");
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: white !important;
  background-color: #1a1a1d;
  height: 100vh;
  margin: 0;
}

.active-tab {
  border-bottom: 4px #2ce3a6 solid;
}

.toast-panel-success {
  background-color: #2ce3a6;
}

.toast-panel-error {
  background-color: #f27557;
}

.inactive-btn {
  background-color: black;
  color: white;
}
