@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/Rubik-Regular.woff2") format("woff2");
}

.modal-backdrop {
  z-index: 1000;
}

.modal {
  position: fixed !important;
  z-index: 9999 !important;
  background-color: rgba(36, 37, 41, 0.7) !important;
}

[data-tid="busy"] {
  background-color: rgba(36, 37, 41, 0.7) !important;
  z-index: 99999 !important;
}

.modal .content {
  left: 0 !important;
  right: 0 !important;
  background-color: #213740 !important;
  border-radius: 8px;
  border: 1px solid #89c2d9 !important;
  color: white !important;
}

.modal .container {
  border-radius: 0px !important;
}

:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

:global(html),
:global(body) {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%; 
}

:global(body) {
  font-family: "Poppins", "Mona Sans Expanded", sans-serif !important;
  color: white !important;
  position: relative;
}

@media (max-width: 1023px) { 
  :global(body) {
    background: #272727;
    height: auto; 
    min-height: 100%;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  width: 100%;
  max-width: 100vw;
}

.left-side {
  width: 50%;
  background-color: #272727;
}

.right-side {
  width: 50%;
  background-color: var(--selectedProject-bg-color, #2ce3a6);
}

.preview-image-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  @apply px-4 py-2 text-white rounded-md bg-WaterwayTeal hover:bg-WaterwayGreen hover:text-white;
}

.horizontal-divider {
  min-height: 2px;
  @apply self-stretch flex-shrink-0 h-px bg-WaterwayBlue;
}

.vertical-divider {
  min-width: 2px;
  @apply self-stretch flex-shrink-0 w-px bg-white;
}

.badge-design {
  @apply bg-WaterwayLightBlue text-WaterwayBrown;
}
.badge-development {
  @apply text-white bg-WaterwayBlue;
}
.badge-live {
  @apply text-white bg-WaterwayBlue;
}
.badge-decentralised {
  @apply text-white bg-WaterwayGreen;
}
